{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootcss/bootstrap.css' %}">

<h1 style="color:black; text-align: center;"> Registrar nueva noticia </h1>

<form class="row g-3" style="padding: 50px" action="" method="post"> {% csrf_token %}
    {{ form.as_table }}

    <div class="col-12">
        <p class="text-end">
            <button class="btn btn-danger">
                <a href="{% url 'noticia' %}" class="nav-link">Cancelar</a>
            </button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </p>
    </div>
</form>
{% endblock %}